body{
  /* background-image: url("./media/vynil2.jpg"); */
  /* background-image: url("./media/Vynil1.jpg"); */
  background-image: url("./media/piano2.jpg");
  background-attachment: fixed;

  /* background-image: url("./media/Interesting_back.jpg"); */
  background-size: cover;
}